[general]
title = 
titlefontsize = 12.0
xmin = 0.0
xmax = None
xlabel = Period (s)
xscale = linear
xlabelfontsize = 10.0
ymin = 0
ymax = None
ylabel = Sa
yscale = linear
ylabelfontsize = 10.0

[curve0]
label = _child0
linestyle = -
drawstyle = default
linewidth = 1.5
color = #1f77b4ff
markerstyle = 
markersize = 6.0
markerfacecolor = #1f77b4ff
markeredgecolor = #1f77b4ff

