[general]
title = 
titlefontsize = 12.0
xmin = 0.001
xmax = 1000.0
xlabel = Period (s)
xscale = log
xlabelfontsize = 10.0
ymin = 0.01
ymax = 21.839473004326095
ylabel = PS$_v$
yscale = log
ylabelfontsize = 10.0

[curve0]
label = _child241
linestyle = -
drawstyle = default
linewidth = 2.0
color = #000000ff
markerstyle = 
markersize = 6.0
markerfacecolor = #000000ff
markeredgecolor = #000000ff

